html,
body {
  font-family: 'Quicksand', serif;
  /*font-size: 20px;*/
  font-weight: 300;
  background-image: url('../media/background.png') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  background-size: cover;
}


.mapresi{
  position: absolute;
  bottom: 0;
  padding-left: 50px;
  /*margin-top: 200px;*/
  
}



a:link {
  color: #000;
  background-color: transparent;
  text-decoration: none!important;
}

/*a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none!important;
}*/

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: none !important;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: none !important;
}

p{
   font-size: 16px;
}

.futter{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}
